@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.listOfChampions__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    & > * {
        margin: 30px 0;
        padding-bottom: 20px;
    }
}


.championCard__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    position: relative;
    border: 1px solid darken($color: #c28f2c, $amount: 0);
    border-radius: 15px;
    transition: all .3s ease;
    font-size: .9rem;

    .championCard__champInfo {
        position: absolute;
        top: 0;
        left: 0;
        padding: 1em;
        background-color: rgba($color: #000000, $alpha: 0.5);
        color: white;
        border-bottom-right-radius: 15px;
        border-top-left-radius: 15px;
        font-family: cursive;
        text-transform: capitalize;
        
    }

    img {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width: 100%;
    }

    p {
        margin: 15px 25px;
        text-align: justify;
    }

    button {
        background-color: transparent;
        margin-top: 12px;
        padding: 10px;
        border: 1px solid darken($color: #745f36, $amount: 10);
        border-radius: 10px;
        cursor: pointer;
        transition: all .3s ease;

        &:hover {
            color: white;
            background-color: #c28f2c;
            border: 1px solid transparent;
        }
    }

    &:hover {
        transform: scale(1.02) translateY(-10px);
    }

    .championCard__blurb {
        font-family: 'Eczar', serif;
        line-height: 16px;
    }
    
}

.championCard__statsBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 2px auto;

    &-innerBar {
        padding: 5px;
        border-radius: 25px;

        span {
            margin-left: 2px;
        }
    }

    &-innerBar--inner-1 {
        background-color: darken($color: #e85d04, $amount: 0);
    }

    &-innerBar--inner-2 {
        background-color: lighten($color: #399b6f, $amount: 10);
    }

    &-innerBar--inner-3 {
        background-color: lighten($color: #0077b6, $amount: 10);
    }

    &-innerBar--inner-4 {
        background-color: lighten($color: #7b2cbf, $amount: 10);
    }

    .flexprueba {
        flex-basis: 60%;
    }
    
    &-innerBarContainer {
        flex-basis: 60%;
        margin-left: 5px;
        color: white;
        padding: -5px;
        border-radius: 25px;

        &--outter-1 {
            background-color: lighten($color: #e85d04, $amount: 40);
        }

        &--outter-2 {
            background-color: lighten($color: #399b6f, $amount: 40);
        }

        &--outter-3 {
            background-color: lighten($color: #0077b6, $amount: 40);
        }

        &--outter-4 {
            background-color: lighten($color: #7b2cbf, $amount: 40);
        }
    }
}

.mainPageHeader {
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 2em;
        font-family: 'Playfair Display', serif;
        font-style: oblique;
        font-size: 0.8rem;
        color: darken($color: #c28f2c, $amount: 5);
        
        .small {
            font-weight: 600;
        }
    
        .big {
            font-size: 60px;
            font-weight: 600;
        }
    }

    &__filters {
        margin-right: 50px;

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            flex-wrap: wrap;

            & > li {
                margin: 8px 15px;
                cursor: pointer;
            }
        }
    }
}